# builds the content of http://github.com/wind-press/windpress
name: Publish to npm

on:
  workflow_dispatch:
  push:
    tags:
      - "*"

jobs:
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 30

    steps:
      # sometime, when 2 or more consecutive PRs merged, the checkout wind-press/windpress is overlapped
      # and reverting other commit change
      # this should not happen on create a tag, so wait first
      - name: "Wait before checkout on create a tag"
        if: "startsWith(github.ref, 'refs/tags/')"
        run: sleep 20

      - uses: actions/checkout@v4

      - name: install wasm-pack
        run: cargo install wasm-pack

      - name: Building the package
        run: wasm-pack build --scope="windpress" --release
        
      - name: Upload wasm artifacts
        uses: actions/upload-artifact@v4
        with:
          name: wasm-artifacts
          path: |
            pkg/**/*.wasm
            pkg/**/*.js
            pkg/package.json
